/* ================
    Layout
   ================ */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

header .container-fluid,
.body-content,
footer {
    max-width: 1600px;
    margin: 0 auto;
}

footer {
    padding: 0 15px;
}

.navbar {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

.sidebar {
    background: #222;
    border: 1px solid #080808;
    border-top-width: 0;
    border-bottom-width: 0;
    margin: 0 -15px;
}
.sidebar ul>li {
    display: block;
    border-bottom: 1px solid #080808;
}
.sidebar ul>li>a {
    display: block;
    padding: 1em 2em;
}

/* ================
    Misc
   ================ */

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.clear-after:after {
    display: block;
    content: "";
    clear: both;
}

.margin-up {
    margin-top: -4px;
}

.margin-top-20 {
    margin-top: 20px;
}

.tab-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.tab-content + .tab-content {
    margin-top: 20px;
}

.border-bottom-ddd {
    border-bottom: 1px solid #ddd;
}

.nav-tabs {
    border-bottom: 0;
    margin: 0 20px;
}

/* ================
    Table
   ================ */
.dataTables_filter {
    display: none;
}

.table-container {
    overflow: auto;
}

.table {
    margin-bottom: 0;
}

.table.hidden-on-load {
    display: none;
}
.table.hidden-on-load.dataTable {
    display: table;
}

.table th,
.table td {
    white-space: nowrap;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 8px 10px;
}

.table tbody>tr>th,
.table tbody>tr>td {
    border: 0;
}
.table thead>tr>th,
.table tfoot>tr>th,
.table thead>tr>td,
.table tfoot>tr>td {
    border-color: #aaa;
}

.table > tbody > tr.paid {
    background-color: #ccffcc;
}
.table > tbody > tr.due-soon {
    background-color: #ffffcc;
}
.table > tbody > tr.past-due {
    background-color: #ffcccc;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th { 
    background-color: rgba(0, 0, 0, .1);
}

/* ================
    Form Stuff
   ================ */

.update-form {
    padding: 20px;
    background: #ddd;
    border: 1px solid #999999;
    border-radius: 4px;
}

.form-horizontal .control-label {
    padding-top: 0;
    line-height: 30px;
}

.form-horizontal .control-label:after {
    content: ":";
    display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="number"] {
    padding: 3px 7px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #999999;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 8.5px 0 0 !important;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*========
    Panel Home page
==========*/
.panel-primary {
    border-color: #000;
}
.panel-primary>.panel-heading {
    background-color: #333;
    border-color: #000;
}

.panel-body {
    padding: 0;
}
.remove-border {
    border: 0;
}
.panel.with-nav-tabs .panel-heading .panel-title {
    padding: 10px;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #666;
	border-color: #000;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #000;
	background-color: #fff;
	border-color: #000;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}